body { 
  background-color: grey;
}

.img-inicio{
  width: 200px;
  height: 100px  ;

}
.menu-contenedor {
  display: flex;
  justify-content: center ;
  
}

.contenedor-factura { display: flex;
justify-content: center; 
}

.cont-info-pago {
  /* background-color: rgb(37, 37, 37); */
  background-color: rgb(100, 98, 98);
  width: 300px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between  ;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  margin: 20px;
  color: white;
}

.titulo-pago { 
  
  font-size: 25px;
}


#nombre, #correo,#creditCard{
  width: 200px;
}




.fechaCVV {
  display: flex;
  
}
#fechaVen{
  width: 30px;
}
#codeCVV{
  width: 30px;
}




.boton-pagar { 
width: 100px;
height: 30px;
border: 1px solid rgb(8, 177, 8);
background-color: rgb(8, 177, 8);
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;

 }
 .boton-pagar:hover { 
  
  background-color: rgb(8, 212, 8);
    
   }




